@media only screen and (min-width: 1240px) {
    .contentBlock2 {
        display: flex;
        flex-direction: row;
        margin-top: 152px;
        margin-left: 217px;
        padding-bottom: 131px;
    }

    .title2 {
        font-weight: 500;
        font-size: 60px;
        max-width: 610px;
        line-height: 100%;
    }

    .leftContent2 {
        margin-top: 50px;
        margin-left: 2px;
        font-size: 18px;
        line-height: 140%;
        max-width: 589px;
        letter-spacing: 0.025em;
    }

    .leftContent2 > p {
        margin-bottom: 25px;
    }

    .rightImage2 {
        margin-bottom: 50px;
        margin-left: 38px;
    }
}
@media only screen and (min-width: 768px) and (max-width:1240px) {
    .contentBlock2 {
        display: flex;
        flex-direction: row;
        margin-top: 110px;
        margin-left: 74px;
        padding-bottom: 93px;
    }
    .title2 {
        font-size: 50px;
        width: 395px;
        max-width: 395px;
        line-height: 0.97em;
    }
    .leftContent2{
        margin-top: 57px;
        max-width: 415px;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.025em;
    }
    .leftContent2 > p {
        margin-bottom: 24px;
    }
    .rightImage2{
        width: 228px;
        margin-top: 26px;
        margin-left: 27px
    }

}
@media only screen and (max-width: 768px){
    .contentBlock2 {
        display: flex;
        margin-left: 20px;
        flex-direction: column-reverse;
        padding-bottom: 59px;
    }
    .title2 {
        max-width: 270px;
        font-size: 40px;
        margin-top: 40px;
        line-height: 100%;
    }
    .leftContent2{
        margin-top: 49px;
        margin-left: 2px;
        max-width: 277px;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.025em;
    }
    .leftContent2 > p {
        margin-bottom: 22px;
    }
    .rightImage2{
        width: 196px;
        margin-top: -93px;
        margin-left: 39px
    }
}
