.form8 input {
    border: none;
    outline: none;
    padding-inline: 19px;
    padding-block: 12px;
    height: 50px;
    font-size: 18px;
}

.form8 textarea {
    padding-inline: 19px;
    padding-block: 12px;
    border: none;
    outline: none;
    resize: none;
    height: 121px;
    font-size: 18px;
}

.buttonFill8 {
    width: 241px;
    height: 71px
}

@media only screen and (min-width: 1240px) {
    .contentBlock8 {
        margin-top: 159px;
        margin-left: 220px;
        padding-bottom: 200px
    }

    .form8 {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
    }

    .form8 input {
        width: 387px;
        margin-inline: 12px;
    }

    .form8 textarea {
        margin-top: 26px;
        width: 800px;
        height: 121px;
    }

    .header8 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .buttonFill8 {
        align-self: flex-end;
        margin-top: 28px;
    }

    .addInfo {
        margin-top: 107px;
        font-size: 40px;
        text-align: center;
    }

    .legalInfo {
        font-size: 18px;
        color: #ffffff;
        margin-top: 25px;

    }

    .phoneNum {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1240px) {
    .contentBlock8 {
        margin-top: 132px;
        margin-left: 71px;
        padding-bottom: 200px
    }

    .form8 {
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 627px;
    }

    .form8 input {
        width: 297px;
        margin-inline: 16px;
    }

    .form8 textarea {
        margin-top: 26px;
        width: 627px;
    }

    .header8 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .buttonFill8 {
        align-self: flex-end;
        margin-top: 28px;
    }

    .addInfo {
        margin-top: 106px;
        font-size: 40px;
        text-align: center;
    }

    .legalInfo {
        font-size: 18px;
        color: #ffffff;
        margin-top: 25px;

    }

    .phoneNum {
        font-size: 32px;
    }
}

@media only screen and (max-width: 768px) {
    .contentBlock8 {
        margin-top: 100px;
        margin-left: 20px;
        padding-bottom: 200px
    }

    .form8 {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
    }

    .header8 {
        display: flex;
        flex-direction: column;
    }

    .form8 input {
        width: 280px;
        margin-bottom: 26px;
        font-size: 18px;
    }

    .form8 textarea {
        width: 280px;
    }

    .buttonFill8 {
        margin-top: 133px;
        margin-left: 0px
    }

    .addInfo {
        margin-top: 103px;
        font-size: 28px;
        text-align: center;
    }

    .legalInfo {
        font-size: 18px;
        color: #ffffff;
        margin-top: 20px;
    }

    .phoneNum {
        font-size: 22px;
    }
}
