.modalContainer {
    position: absolute;
    z-index: 200;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: all 1s ease-in-out;
}

.modalCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.modalCheckbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.modalCheckbox + label::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #0A2756;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.invalidCheckbox + label::before {
    border: 1px solid #FB5555 !important;
}

.modalCheckbox:checked + label::before {
    background-image: url('../Images/chbx.svg')
}

.modalWindow {
    z-index: 100;
}

@media only screen and (min-width: 1240px) {
    .modalContainer{
        background: rgba(10, 39, 86, 0.8);
    }
    .modalWindow {
        background: #ffffff;
        color: #0a2756;
        width: 974px;
        height: 898px;
        position: absolute;
        left:50%;
        top:64px;
        transform: translateX(-50%);
        padding-left: 87px;
    }

    .modalContent {
        width: 800px;
    }

    .modalDescription {
        margin-top: 30px;
        font-size: 18px;
        line-height: 140%;
    }

    .modalForm {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .modalForm input[type="text"], .modalForm input[type="email"] {
        width: 800px;
        height: 50px;
        border: 1px solid #0A2756;
        padding-inline: 20px;
        padding-block: 12px;
        margin-block: 13px;
        font-size: 18px;
        outline: none;
    }

    .checkboxContainer {
        margin-top: 20px;
    }

    .buttonFillModal {
        width: 266px;
        align-self: flex-end;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1240px) {
    .modalContainer{
        background: none;
        margin-top: 63px;
    }
    .modalWindow {
        margin-top: -63px;
        background: #ffffff;
        color: #0a2756;
        width: 100%;
        max-width: 974px;
        height: auto;
        position: absolute;
        left:50%;
        top:64px;
        transform: translateX(-50%);
        padding-inline: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px
    }

    .modalContent {
        width: 100%;
        max-width: 675px;
    }

    .modalDescription {
        margin-top: 30px;
        font-size: 18px;
        line-height: 140%;
    }

    .modalForm {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .modalForm input[type="text"], .modalForm input[type="email"] {
        width: 100%;
        max-width: 800px;
        height: 50px;
        border: 1px solid #0A2756;
        padding-inline: 20px;
        padding-block: 12px;
        margin-block: 13px;
        font-size: 18px;
        outline: none;
    }

    .checkboxContainer {
        margin-top: 20px;
    }

    .buttonFillModal {
        width: 266px;
        align-self: flex-end;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .modalContainer{
        background: none;
        margin-top: 63px;
    }
    .modalWindow {
        margin-top: -63px;
        background: #ffffff;
        color: #0a2756;
        width: 100%;
        height: auto;
        position: absolute;
        left:50%;
        top:64px;
        transform: translateX(-50%);
        padding-inline: 20px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 320px;
    }

    .modalContent {
        width: 100%;
        max-width: 300px;
        min-width: 300px;
    }

    .modalDescription {
        margin-top: 30px;
        font-size: 18px;
        line-height: 140%;
    }

    .modalForm {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .modalForm input[type="text"], .modalForm input[type="email"] {
        width: 100%;
        height: 50px;
        border: 1px solid #0A2756;
        padding-inline: 20px;
        padding-block: 12px;
        margin-block: 13px;
        font-size: 18px;
        outline: none;
    }

    .checkboxContainer {
        margin-top: 20px;
        font-size: 14px;
    }

    .buttonFillModal {
        margin-left: 0px;
        width: 266px;
        margin-top: 30px;
    }
}
